@import url('https://fonts.googleapis.com/css2?family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Honk&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Akaya+Kanadaka&display=swap');

.background {
    background-color: #ebe1e1;

    height: 900vh;
}

.boxed-line {
    padding: 3px;
    background-color: rgb(185, 119, 130);
}

.welcome-text {
    font-family: 'PT Serif', serif;
    /* font-size:  60px; */
    font-size: 6vw;
    font-weight: 500;
    
}

.art-text {
    font-family: 'Honk';
    /* font-size: 100px; */
    font-size: 7vw;
    margin-top: 0px;
    line-height: 60px;

}

#beauty-japan-btn {
    background-color: rgb(234, 59, 129);
    margin-left: 100px;
    font-family: "Akaya Kanadaka", system-ui;
}

main {
    padding-left: 3rem;
}

.title {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 5vw;
    font-weight: 350;
    margin-left: 4px;
    margin-bottom: 10px;

}

.body-text {
    font-size: 20px;
    line-height: 30px;
    font-weight: lighter;
}

.category-image {

    border-radius: 90% / 60%;
    object-fit: cover;

    height:230px;
    width:170px;


}

.image-caption-text {
    /* margin-left: 3.6rem; */
    padding-top: 15px;

    font-family: "Akaya Kanadaka", system-ui;
    font-size: 20px;
    font-weight: 200;
}